/*TOOLTIP POPUP FRAMEWORK*/

/*USAGE*/

/*markup
  <div class="tooltip-container [optional dark/light]">
    <someElement class="tooltip-activator"></someElement>
    <div class="tooltip-msg *positioning class* *arrow-direction class* *arrow-position-class*"
      data-text="**message inside popup**"></div>
  </div>
*/

/*position class:  add the class abs or fix to position the popup absolute
or fixed respectively, this is for the situation where the help popup may
exist in a fixed component, if it was always position abs, scrolling would cause
undesired results for the popup*/

/*arrow class: currently only arrow-down is supported and styled for **animation effect included*/
/*arrow position class: currently only "on-left" and "on-right" is styled for*/

/***the popup will automatically center itself within the content***/
/*I wrote the class to be unnoppinated in color scheme so that it can be customizeable*/
/*that being said, by default a dark/light theme class can be applied to the tooltip container for
for some default styling*/

/*here are some examples*/
/*
  this container is using a font-awesome icon
  <div class="tooltip-container dark">
    <i class="fa fa-question-circle tooltip-activator" aria-hidden="true"></i>
    <div class="tooltip-msg abs arrow-down on-right" data-text="**message inside popup**"></div>
  </div>
  this container is using a button
  <div class="tooltip-container dark">
    <button class="tooltip-activator" aria-hidden="true">whatsup yoo?</button>
    <div class="tooltip-msg abs arrow-down on-right" data-text="**message inside popup**"></div>
  </div>*/

.tooltip-container  {
  display: inline-block;
  height: 1em;
  position: relative;
  width: inherit;
}

.tooltip-container .tooltip-caption {
  -webkit-transition: all .75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all .75s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1;
  opacity: 0;
  min-width: 125px;
  padding: 10px;
  border-radius: 6px;
  font-size: 15px;
  display: none;
}

.tooltip-container .tooltip-msg {
  -webkit-transition: all .75s cubic-bezier(0.19, 1, 0.22, 1);
  bottom: 0;
  font-weight: 400;
  height: 100%;
  left: 0;
  line-height: 15px;
  opacity: 0;
  pointer-events: none;
  transition: all .75s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
  z-index: 1;
}

.tooltip-activator:hover.tooltip-hoverable::after {
  width: 50px;
  height: 50px;
  content: "";
  position: absolute;
  /* background: yellow; */
  top: 50%;
  /* z-index: -1; */
  /* left: 0; */
  transform: translate(-25px, -25px);
}

.tooltip-msg::after {
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-size: 11px;
  max-width: 175px;
  min-width: 125px;
  padding: 10px;
}

.tooltip-msg.wide::after {
  min-width: 200px;
  max-width: 225px;
}
.tooltip-msg.wide-2x::after {
  min-width: 300px;
  max-width: 350px;
}
.tooltip-container .tooltip-msg.abs, .tooltip-container .tooltip-activator:hover + .tooltip-msg.abs::before,
 .tooltip-container .tooltip-activator:hover + .tooltip-msg.abs::after,
 .tooltip-container .tooltip-caption.abs,
 .tooltip-container .tooltip-caption.abs::before {
  position: absolute;
}

.tooltip-container .tooltip-msg.fix, .tooltip-container .tooltip-activator:hover + .tooltip-msg.fix::before,
 .tooltip-container .tooltip-activator:hover + .tooltip-msg.fix::after,
 .tooltip-container .tooltip-caption.fix,
 .tooltip-container .tooltip-caption.fix::before {
  position: fixed;
}

.tooltip-container .tooltip-activator:hover + .tooltip-msg,
.tooltip-container .tooltip-activator:hover + .tooltip-caption {
  opacity: 1;
}
/*animate slide down*/
.tooltip-container .tooltip-msg.arrow-down {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.tooltip-container .tooltip-activator:hover + .tooltip-msg.arrow-down {
  -webkit-transform: translateY(0px);
  transform: translateY(0px); 
}
/*animate slide down or left on captions */
.tooltip-container .tooltip-activator + .tooltip-caption.arrow-left.on-top {
  left: calc(100% + 16px);
  top: -20px;
  transform: translateX(5px);
}
.tooltip-container .tooltip-activator + .tooltip-caption.arrow-left.on-bottom {
  left: calc(100% + 16px);
  bottom: -4px;
  transform: translateX(5px);
}
.tooltip-container .tooltip-activator + .tooltip-caption.arrow-left.on-top::before {
  left: -7px;
  top: calc(20px + .5em);
}
.tooltip-container .tooltip-activator + .tooltip-caption.arrow-left.on-bottom::before {
  left: -7px;
  bottom: 13px;
}
.tooltip-container .tooltip-activator + .tooltip-caption.arrow-down.on-right {
  bottom: calc(100% + 14px);
  left: 50%;
  transform: translateY(-5px) translateX(-75%);
}
.tooltip-container .tooltip-activator + .tooltip-caption.arrow-down.on-right::before {
  transform: translateY(-50%) skew(-45deg, 45deg);
  bottom: -13px;
  left: calc(75% - 6px);
}

.tooltip-container .tooltip-caption::before {
  border-radius: 1px;
  content: "";
  height: 12px;
  width: 12px;
  z-index: 1;
  transform: skew(-45deg, 45deg);
}

.tooltip-container .tooltip-activator:hover + .tooltip-caption {
  display: block;
  opacity: 1;
}

.tooltip-hoverable:hover + .tooltip-caption {
  display: block;
  opacity: 1;
}

.tooltip-hoverable + .tooltip-caption:hover {
  display: block;
  opacity: 1;
}

.tooltip-container .tooltip-activator:hover + .tooltip-msg::before {
  border-radius: 1px;
  content: "";
  height: 12px;
  position: absolute;
  width: 12px;
  z-index: 1;
}

.tooltip-container .tooltip-activator:hover + .tooltip-msg::after {
  content: attr(data-text);
}
/*positioning*/
/*msgs*/
.tooltip-container .tooltip-activator:hover + .tooltip-msg.arrow-down::after {
  transform: translateY(0%);
  bottom: calc(100% + 14px);
  left: -1em;
  /*added default positioning incase froget to add arrow positioning class*/
}
.tooltip-container .tooltip-activator:hover + .tooltip-msg.arrow-down::before {
  transform: translateY(-50%) skew(-45deg, 45deg);
  bottom: calc(1em + 2px);
  left: calc(50% - 6px);
  /*added default positioning incase froget to add arrow positioning class*/
}
.tooltip-container .tooltip-activator:hover + .tooltip-msg.arrow-down.on-right::after {
  bottom: calc(100% + 14px);
  left: 50%;
  transform: translateY(-0%) translateX(-75%);
}
.tooltip-container .tooltip-activator:hover + .tooltip-msg.arrow-down.on-left::after {
  bottom: calc(100% + 14px);
  left: 50%;
  transform: translateY(-0%) translateX(-25%);
}
/*captions*/

.tooltip-container .tooltip-activator:hover + .tooltip-caption.arrow-down.on-right {
  bottom: calc(100% + 14px);
  left: 50%;
  transform: translateY(-0%) translateX(-75%);
}
.tooltip-container .tooltip-activator:hover + .tooltip-caption.arrow-left {
  transform: translateX(0);
}
/*.tooltip-container .tooltip-activator:hover + .tooltip-caption.arrow-down.on-right::before {
  transform: translateY(-50%) skew(-45deg, 45deg);
  bottom: -13px;
  left: calc(75% - 6px);
}*/
/*default coloring styles*/
.tooltip-container.dark .tooltip-msg {
  color: #fff;
}
.tooltip-container.dark .tooltip-activator:hover + .tooltip-msg::after {
  background-color: #232323;
}

.tooltip-container.dark .tooltip-activator:hover + .tooltip-msg::before {
  background-color: #232323;
}

.tooltip-container.light .tooltip-msg {
  color: #232323;
}

.tooltip-container.light .tooltip-activator:hover + .tooltip-msg::after {
  background-color: #fff;
}

.tooltip-container.light .tooltip-activator:hover + .tooltip-msg::before {
  background-color: #fff;
}

.tooltip-container.light .tooltip-caption {
  background-color: #fff;
  border: 1px solid #ccc;
}
.tooltip-container.light .tooltip-caption::before {
  background-color: #fff;
}
.tooltip-container.light .tooltip-caption.arrow-down::before {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.tooltip-container.light .tooltip-caption.arrow-left::before {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}